<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRECAUTIONS</title>
    <style>
        body{  
            margin: 0;
            padding: 0;
            color: black;
            background-image: url("../static/safety.jpg");
            background-position-x: center;
            background-position-y: top;
            background-repeat: no-repeat;
            height: 1500px;
            width: 750px;

        }
    </style>
</head>
<body>
    <a href="https://www.askapollo.com/diseases/quitting-smoking">Suggested Doctors</a>
    <h1>The Result is:{{pred}}</h1>
    
</body>
</html>